@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;
    
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 240 4.8% 9.9%;
    
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    
    --accent: 220 14.3% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    
    --destructive: 0 84.2% 50.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 221.2 83.2% 53.3%;
    
    --radius: 0.5rem;

    /* Novas cores adicionadas */
    --success: 142.1 76.2% 36.3%;
    --warning: 32.2 94.6% 50.4%;
    --info: 198.6 88.7% 48.4%;
    
    /* Cores para gráficos */
    --chart-1: 221.2 83.2% 53.3%;
    --chart-2: 142.1 76.2% 36.3%;
    --chart-3: 217.2 91.2% 59.8%;
    --chart-4: 346.8 77.2% 49.8%;
    --chart-5: 262.1 83.3% 57.8%;
    --chart-6: 291.1 92.5% 73.3%;
    --chart-7: 43.3 96.4% 56.3%;
    --chart-8: 27.1 90.6% 55.3%;
  }

  .dark {
    --background: 229, 84.0%, 4.9%;
    --foreground: 0 0% 98%;
    
    --card: 229, 84.0%, 6.9%;
    --card-foreground: 0 0% 98%;
    
    --popover:229, 84.0%, 6.9%;
    --popover-foreground: 0 0% 98%;
    
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 240 5.9% 10%;
    
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    
    --muted: 229, 84.0%, 8.9%;
    --muted-foreground: 240 5% 64.9%;
    
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 217.2 91.2% 59.8%;
    
    /* Novas cores adicionadas (dark mode) */
    --success: 142.1 70.6% 45.3%;
    --warning: 32.2 95.7% 44.3%;
    --info: 198.6 88.7% 48.4%;
    
    /* Cores para gráficos (dark mode) */
    --chart-1: 217.2 91.2% 59.8%;
    --chart-2: 142.1 70.6% 45.3%;
    --chart-3: 221.2 83.2% 53.3%;
    --chart-4: 346.8 77.2% 49.8%;
    --chart-5: 262.1 83.3% 57.8%;
    --chart-6: 291.1 92.5% 73.3%;
    --chart-7: 43.3 96.4% 56.3%;
    --chart-8: 27.1 90.6% 55.3%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}